@media (max-width: 1250px) {
    /* show horizontal scrollbars if needed */
    body::-webkit-scrollbar:horizontal {
        height: 10px;
    }
}

@media (min-width: 1000px) and (max-width: 1250px) {
    .l_Layout {
        max-width: 980px !important;
    }

    div.header-cont.l_Layout {
        max-width: 950px !important;
    }

    .header .logo {
        margin-right: 25px !important;
    }

    body {
        min-width: 980px !important;
    }

    .focus {
        min-width: unset !important;
    }

    .focus-text {
        margin-left: -565px !important;
        animation: rightInC .5s 0s ease-in-out 1 forwards !important;
        -webkit-animation: rightInC .5s 0s ease-in-out 1 forwards !important;
    }

    .focus-pic {
        z-index: -500;
        margin-left: -150px !important;
        animation: leftInC .5s 0s ease-in-out 1 forwards !important;
        -webkit-animation: leftInC .5s 0s ease-in-out 1 forwards !important;
    }

    @keyframes leftInC {
        0% {
            transform: translateX(25px);
            opacity: .5
        }

        100% {
            transform: translateX(0);
            opacity: 1
        }
    }

    @-webkit-keyframes leftInC {
        0% {
            -webkit-transform: translateX(25px);
            opacity: .5
        }

        100% {
            -webkit-transform: translateX(0);
            opacity: 1
        }
    }

    @keyframes rightInC {
        0% {
            transform: translateX(-25px);
            opacity: .5
        }

        100% {
            transform: translateX(0);
            opacity: 1
        }
    }

    @-webkit-keyframes rightInC {
        0% {
            -webkit-transform: translateX(-25px);
            opacity: .5
        }

        100% {
            -webkit-transform: translateX(0);
            opacity: 1
        }
    }

    .focus-slider-nav {
        margin-left: -485px !important;
    }

    .list_card ul {
        width: unset !important;
    }

    .list_card ul:not(#index-popular_goods-data-list-csgo) {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 0;
        justify-content: center;
    }

    /* Use 5 columns for Place Buy Order grid */
    .list_card.list_card_small ul:not(#index-popular_goods-data-list-csgo) {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 0;
        justify-content: center;
    }

    .list_card ul:not(#index-popular_goods-data-list-csgo) li {
        margin: 11px !important;
    }

    .area1, .area2, .area3 {
        height: unset !important;
        background-size: cover !important;
        padding: 0 !important;
    }

    .market-header {
        width: unset !important;
    }

    .h1z1-selType {
        margin: 0 15px !important;
    }

    .h1z1-selType .item.w-SelType {
        width: 6.5% !important;
    }

    .criteria {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-bottom: 2px !important;
    }

    .criteria .w-SelHero, .criteria .w-Select, .criteria .w-Select-Multi, .criteria .w-SelDate {
        margin-bottom: 12px;
    }

    .criteria .l_Right {
        margin-left: auto;
        margin-bottom: 12px;
    }

    .criteria .l_Right .w-Search {
        float: right;
    }

    .criteria.search_auto_grow .l_Right {
        flex: unset !important;
    }

    .criteria.search_auto_grow .w-Search input.i_Text, .w-Search .i_Text {
        width: 175px !important;
    }

    .list_card li {
        margin: 0 !important;
    }

    .market-header .cont-tab, .market-header .criteria, .market-header .tab-games {
        margin: 0 15px;
    }

    .cont-tab li {
        margin-right: 25px !important;
    }

    .cont-tab li:last-child {
        margin-right: 0 !important;
    }

    .market-header div.l_Right.export-btns.brief-info span {
        max-width: 150px;
    }

    div.l_Right.export-btns.brief-info span {
        display: inline-block;
    }

    .detail-tab-cont .sold-count {
        padding-left: 0 !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .count-item {
        width: unset !important;
        margin: 0 12px 24px 12px !important;
    }

    .count-item li:not(.split) {
        width: 135px !important;
    }

    .user-header {
        width: unset !important;
    }

    .user-header > div {
        padding-left: 50px !important;
    }

    .user-header .col {
        width: 185px !important;
        margin-right: 35px !important;
    }

    .cont_main {
        margin-left: 230px !important;
    }

    .cont_panel {
        width: 210px !important;
    }

    .cont_panel .my-menu li {
        width: 210px !important;
    }

    .cont_panel .my-menu li a {
        padding: 0 35px !important;
    }

    .g-w940 {
        width: unset !important;
    }

    .change .list_tb td {
        padding: 10px 3px !important;
    }

    .list_tb td {
        height: unset !important;
    }

    .user-record {
        width: fit-content;
    }

    #bookmark_sell_order_list table.list_tb tr td p {
        white-space: nowrap;
    }

    #bookmark_sell_order_list table.list_tb tr td p.c_Gray.f_12px.gMT6 {
        white-space: break-spaces;
    }

    #bookmark_sell_order_list table.list_tb tr td a {
        white-space: nowrap;
    }

    #bookmark_sell_order_list table.list_tb tr td:last-child > * {
        padding: 0 3px !important;
        margin: 1px !important;
    }

    #bookmark_sell_order_list table.list_tb tr td:last-child > *:not(:last-child) {
        margin-bottom: 2px !important;
    }

    .footer {
        min-width: 980px !important;
    }

    .footer .guide {
        width: unset !important;
        padding-left: 0 !important;
    }

    .footer .guide .guide-section {
        width: unset !important;
        margin-right: 60px !important;
    }

    .footer .guide .guide-section:first-child {
        margin-left: 60px !important;
    }
}

@media (min-width: 1100px) and (max-width: 1250px) {
    .l_Layout {
        max-width: 1060px !important;
    }

    div.header-cont.l_Layout {
        max-width: 1040px !important;
    }

    .header .logo {
        margin-right: 35px !important;
    }

    body {
        min-width: 1060px !important;
    }

    .focus-text {
        margin-left: -580px !important;
    }

    .focus-pic {
        margin-left: -150px !important;
    }

    @keyframes leftInC {
        0% {
            transform: translateX(50px);
            opacity: .5
        }

        100% {
            transform: translateX(0);
            opacity: 1
        }
    }

    @-webkit-keyframes leftInC {
        0% {
            -webkit-transform: translateX(50px);
            opacity: .5
        }

        100% {
            -webkit-transform: translateX(0);
            opacity: 1
        }
    }

    @keyframes rightInC {
        0% {
            transform: translateX(-50px);
            opacity: .5
        }

        100% {
            transform: translateX(0);
            opacity: 1
        }
    }

    @-webkit-keyframes rightInC {
        0% {
            -webkit-transform: translateX(-50px);
            opacity: .5
        }

        100% {
            -webkit-transform: translateX(0);
            opacity: 1
        }
    }

    .focus-slider-nav {
        margin-left: -500px !important;
    }

    .h1z1-selType .item.w-SelType {
        width: 6.8% !important;
    }

    /* Use 6 columns for Place Buy Order grid */
    .list_card.list_card_small ul:not(#index-popular_goods-data-list-csgo) {
        grid-template-columns: auto auto auto auto auto auto;
    }

    .user-header > div {
        padding-left: 75px !important;
    }

    .user-header .col {
        width: 200px !important;
        margin-right: 50px !important;
    }

    .change .list_tb td {
        padding: 10px 6px !important;
    }

    #bookmark_sell_order_list table.list_tb tr td:last-child > * {
        padding: 0 6px !important;
    }

    .footer {
        min-width: 1060px !important;
    }

    .footer .guide .guide-section {
        margin-right: 75px !important;
    }

    .footer .guide .guide-section:first-child {
        margin-left: 100px !important;
    }
}
