::root {
    --bb-color-0: #121212;
    --bb-color-1: #1f1f1f;
    ---bb-color-2: #bfbfbf;
    --bb-color-3: #696969;
}

/* remove grayscale from html, body */
html {
    filter: grayscale(0) !important;
}

.bb-dark-mode #j_list_card li,
.bb-dark-mode #j_list_card li,
.bb-dark-mode #j_list_card li a,
.bb-dark-mode #j_list_card li p,
.bb-dark-mode .shop .shop-recommend-list h3 a {
    color: var(--bb-color-2, #bfbfbf);
}

.bb-dark-mode .pager li.disabled * {
    color: var(--bb-color-3, #696969) !important;
    border-color: var(--bb-color-2, #bfbfbf) !important;
    background: var(--bb-color-0, #121212) !important;
}

.bb-dark-mode div.stickers {
    background: transparent;
}

.bb-dark-mode .des_row,
.bb-dark-mode .pager li.disabled span,
.bb-dark-mode .list_tb th,
.bb-dark-mode .list_tb #rank-title {
    background: var(--bb-color-0, #121212) !important;
    border-color: var(--bb-color-2, #bfbfbf) !important;
}

.bb-dark-mode tr[id],
.bb-dark-mode span.c_Gray,
.bb-dark-mode .j_shoptip_handler,
.bb-dark-mode .wear-value,
.bb-dark-mode a.ctag,
.bb-dark-mode .pager li .page-link,
.bb-dark-mode .desc_content {
    color: var(--bb-color-2, #bfbfbf);
    border-color: var(--bb-color-2, #bfbfbf);
}

.bb-dark-mode .pinterest .pinterest-item,
.bb-dark-mode .pinterest .pinterest-item .pinterest-user {
    color: var(--bb-color-2, #bfbfbf);
    border-color: var(--bb-color-2, #bfbfbf);
    background: var(--bb-color-0, #121212) !important;
}

.bb-dark-mode .popup_guide_sell textarea,
.bb-dark-mode .popup_bulkbuy_input #batch-buy-num {
    background: var(--bb-color-0, #121212);
    color: var(--bb-color-2, #bfbfbf) !important;
}

.bb-dark-mode .area1,
.bb-dark-mode .area3,
.bb-dark-mode .card_csgo li,
.bb-dark-mode #j_market_card,
.bb-dark-mode #j_list_card li,
.bb-dark-mode .detail-tab-cont,
.bb-dark-mode div.desc_content,
.bb-dark-mode .detail-tab-cont .market-card,
.bb-dark-mode .l_Layout .news-cont,
.bb-dark-mode .l_Layout .news-cont .news-list li,
.bb-dark-mode .l_Layout .cont_main .user-record,
.bb-dark-mode .l_Layout .cont_main .user-record .msg-folder td,
.bb-dark-mode .popup_supply .popup-header,
.bb-dark-mode .popup_supply .popup-cont,
.bb-dark-mode .popup_supply .popup-cont .popup-good-summary,
.bb-dark-mode .popup_supply .popup-cont .popup-good-summary .input-cont .j_filter,
.bb-dark-mode .popup_charge .popup-header,
.bb-dark-mode .popup_charge .popup-cont,
.bb-dark-mode .popup_guide_sell .popup-header,
.bb-dark-mode .popup_guide_sell .popup-cont,
.bb-dark-mode .popup_weaponbox,
.bb-dark-mode .detail-tab-cont .count-chart,
.bb-dark-mode .detail-tab-cont .count-item,
.bb-dark-mode .popup_weaponbox .weapon-col1,
.bb-dark-mode .popup_weaponbox .weapon-col2,
.bb-dark-mode .popup_weaponbox .weapon-col2 li,
.bb-dark-mode .popup .popup-header,
.bb-dark-mode .popup .popup-tip,
.bb-dark-mode .popup .popup-cont,
.bb-dark-mode .popup .popup-btns,
.bb-dark-mode .popup .blank20,
.bb-dark-mode .popup_custom,
.bb-dark-mode .popup_flower .popup-header,
.bb-dark-mode .popup_flower .popup-cont,
.bb-dark-mode .popup_flower .popup-cont li,
.bb-dark-mode .popup_bulkbuy .popup_bulkbuy_item,
.bb-dark-mode .popup_bulkbuy .popup_bulkbuy_price,
.bb-dark-mode .list_tb_csgo .tr_gallery td,
.bb-dark-mode .list_tb_csgo .tr_gallery .bundle-items-list {
    background: var(--bb-color-0, #121212);
}

.bb-dark-mode .detail-tab-cont .count-chart,
.bb-dark-mode .detail-tab-cont .count-item {
    border: none;
}

.bb-dark-mode a.ctag b {
    background: transparent;
}
.bb-dark-mode a.ctag b i {
    filter: none !important;
}

.bb-dark-mode a.ctag:hover b {
    background: var(--bb-color-1, #1f1f1f);
}

.bb-dark-mode .detail-tab-cont .w-Select,
.bb-dark-mode .detail-tab-cont .w-Select ul {
    background: #2D2F3E;
    color: #9a9b9e;
    border: none;
}
.bb-dark-mode .detail-tab-cont .w-Select ul li {
    color: #9a9b9e;
    border: none;
}

.bb-dark-mode .detail-tab-cont .w-Select ul .hover,
.bb-dark-mode .detail-tab-cont .w-Select ul li:hover,
.bb-dark-mode .detail-tab-cont .w-Select ul li.on:hover {
    background: #505f7a;
    color: #9a9b9e;
}

.bb-dark-mode .detail-tab-cont .w-Select ul .on {
    background: #3a455a;
    color: #9a9b9e;
}

/* shop pages */
.bb-dark-mode .l_Layout .market-card,
.bb-dark-mode .shop .list_card,
.bb-dark-mode .shop .shop-recommend-cont,
.bb-dark-mode .shop .shop-recommend-cont .slider-handle,
.bb-dark-mode .shop .shop-recommend-list li,
.bb-dark-mode .shop .card-pager {
    background: var(--bb-color-0, #121212) !important;
}

.bb-dark-mode .detail-tab-cont tr:hover {
    background: var(--bb-color-1, #1f1f1f);
}

.bb-dark-mode .popup_charge .popup-cont .list_tb_csgo tr:hover,
.bb-dark-mode .popup_weaponbox .weapon-col1 li.on,
.bb-dark-mode .popup_weaponbox li:hover,
.bb-dark-mode .popup_flower .popup-cont tr:hover {
    background: var(--bb-color-1, #1f1f1f) !important;
}

.bb-dark-mode .list_tb td,
.bb-dark-mode .card_csgo li h3 a,
.bb-dark-mode .pager .next, .bb-dark-mode .pager .page-link,
.bb-dark-mode .l_Layout .cont_main .user-record a,
.bb-dark-mode .l_Layout .cont_main .user-record .delete-bookmark,
.bb-dark-mode .list_tb_csgo .tr_gallery .bundle-items-list h5,
.bb-dark-mode .popup_supply .input-cont .c_Gray,
.bb-dark-mode .popup_custom .popup_custom-title,
.bb-dark-mode .popup_common .popup-cont h2,
.bb-dark-mode .popup-header h2,
.bb-dark-mode .popup_weaponbox h2,
.bb-dark-mode .popup_weaponbox a,
.bb-dark-mode .popup_weaponbox .weapon-cate,
.bb-dark-mode .detail-tab-cont h3,
.bb-dark-mode .popup_bulkbuy .popup_bulkbuy_item h3,
.bb-dark-mode .popup_flower .list_tb .name-cont .textOne {
    color: var(--bb-color-2, #bfbfbf) !important;
}

.bb-dark-mode .list_tb_csgo .tr_gallery .bundle-items-list h5:hover {
    color: var(--bb-color-3, #696969) !important;
}

/* settings */
.bb-dark-mode,
.bb-dark-mode .user-setting,
.bb-dark-mode .user-setting h3,
.bb-dark-mode .user-setting label[for],
.bb-dark-mode .user-setting select,
.bb-dark-mode .user-setting input[type],
.bb-dark-mode .user-wallet,
.bb-dark-mode .user-wallet .user-pay-desc,
.bb-dark-mode .user-rights,
.bb-dark-mode .user-feedback {
    background: var(--bb-color-0, #121212) !important;
    color: var(--bb-color-2, #bfbfbf);
}

.bb-dark-mode .l_Layout .cont_main .user-record .i_Btn_hollow {
    background-color: #959595;
    color: #fff;
}

.bb-dark-mode .popup-cont #bargain-price,
.bb-dark-mode .popup_bulkbuy_input #batch-buy-max-price {
    background: var(--bb-color-0, #121212) url(https://buff.163.com/static/images/site/yuan-ico.png) no-repeat 12px center;
    color: var(--bb-color-2, #bfbfbf);
}

.betterbuff-item-detail-img {
    visibility: hidden;
    position: absolute;
    z-index: 999;
}

td.img_td:hover .betterbuff-item-detail-img {
  visibility: visible;
}

.bb-dark-mode .user-setting #mobile,
.bb-dark-mode .user-setting tr.steam_bind > .t_Left > a {
    filter: blur(5px);
}

.bb-dark-mode .popup_bulkbuy .w-Select,
.bb-dark-mode .popup_bulkbuy .w-Select-Multi {
    background: #2D2F3E;
    color: #9a9b9e;
    border: none;
}

.bb-dark-mode .popup_bulkbuy .w-Select-Multi:hover,
.bb-dark-mode .popup_bulkbuy .w-Select:hover {
    background: #3A455A;
    color: #E4E8EE
}

.bb-dark-mode .popup_bulkbuy .w-Select h3 span.raw,
.bb-dark-mode .popup_bulkbuy .w-Select-Multi h3 span.raw {
    color: #9a9b9e
}

.bb-dark-mode .popup_bulkbuy .w-Select ul,
.bb-dark-mode .popup_bulkbuy .w-Select-Multi ul {
    background: #2D2F3E;
    top: 33px;
    border: none;
    left: 0
}

.bb-dark-mode .popup_bulkbuy .w-Select ul li,
.bb-dark-mode .popup_bulkbuy .w-Select-Multi ul li {
    color: #E4E8EE;
    border-color: #373A4C
}

.bb-dark-mode .popup_bulkbuy .w-Select ul li:hover,
.bb-dark-mode .popup_bulkbuy .w-Select-Multi ul li:hover,
.bb-dark-mode .popup_bulkbuy .w-Select ul li.on,
.bb-dark-mode .popup_bulkbuy .w-Select-Multi ul li.on,
.bb-dark-mode .popup_bulkbuy .w-Select-Multi ul li div p:hover,
.bb-dark-mode .popup_bulkbuy .w-Select-Multi ul li div p.on {
    background: #3A455A
}

.bb-dark-mode .popup_bulkbuy .w-Select-Multi ul li div {
    background: #2D2F3E;
    border: none;
    top: 1px
}

.bb-dark-mode .popup_bulkbuy .w-Select-Multi ul li div p {
    color: #E4E8EE;
    border-color: #373A4C
}